<div class="row titleDiv">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h1 class="title">Gene Details</h1>
  </div>
  <div class="col-2">
  </div>
</div>

<div class="row list">
  <div class="col-1">
  </div>
  <div class="col-10">
    <table class="table table-primary">
      <tr>
        <td>{{gen.docs[0].Gene}}</td>
        <td>{{gen.docs[0].cDNA}}</td>
      </tr>
    </table>
  </div>
  <div class="col-1">
  </div>

</div>

<button class="btn btn-primary" (click)="NavigateBack()">Back</button>
