
<div class="d-flex justify-content-center" style="position: absolute; top: 50%; left: 50%" *ngIf="!gen">
  <span class="sr-only" id="loading"></span>
</div>


<div class="row titleDiv">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h1 class="title">Gene Details</h1>
  </div>
  <div class="col-2">
  </div>
</div>

<div *ngIf="gen" class="tableDiv">
  <div class="row table" *ngFor="let key of getObjectKeys(this.gen.docs[0])">
    <div class="col-3"></div>
    <div class="col-3 key" *ngIf="key !== 'images'">
      <a (click)="OpenModalUpdate(key, gen.docs[0][key])" *ngIf="key != '_id' && key != '_rev'">{{ key }}</a>
      <span *ngIf="key == '_id' || key == '_rev'">{{ key }}</span>
    </div>
    <div class="col-3 value" *ngIf="key !== 'images'">
      {{ gen.docs[0][key] }}
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div *ngIf="gen" class="tableDiv">
  <div class="row table" *ngFor="let key of getObjectKeys(this.gen.docs[0])">
    <div class="col-3"></div>

    <div class="col-3 key" *ngIf="key === 'images'">
      {{ key }}
    </div>

    <div class="col-3 value" *ngIf="key === 'images'">
      <div *ngFor="let item of gen.docs[0][key]">

        <img [src]="(item.src)" [alt]="(item.title)" class="detail-image">

      </div>
    </div>

    <div class="col-3"></div>
  </div>
</div>






<div class="modal fade" [ngClass]="{'show': ShowUpdateModal, 'hidden': !ShowUpdateModal}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Add a position to an existing Gene</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ShowUpdateModal = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p>{{KeyToUpdate}}</p>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="ValuetoUpdate">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="UpdateGenePosition()">Wijzigen</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ShowUpdateModal = false">Sluiten</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="NavigateBack()">Back</button>

<button class="btn btn-primary" (click)="fileInput.click()">Add Image</button>
<input #fileInput type="file" style="display: none" (change)="AddImage($event)">
