
.titleDiv {
  margin-left: 150px;
  padding-bottom: 50px;
  padding-top: 50px
}

.title {
  color: #1746A2;
  font-size: 60px
}

.btnAdd {
  margin-left: 150px;
  size: A3
}

.row {
  margin: 20px;
  max-width: 500px;
}

.tabledesign{
  width: 800px;
  margin: auto;
}

.h5 {
  color: #1746A2;
}

.searchDiv {
  margin-left: 143px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.Add {
  color: #1746A2;
}

.modalDiv {
  position: center
}

#loading{
  position: absolute;
  left: 50%;      
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #1746A2;
  border-radius: 50%;
  border-top: 16px solid #FF731D;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


