<div class="d-flex justify-content-center" style="position: absolute; top: 50%; left: 50%" *ngIf="!gens">
    <span class="sr-only" id="loading"></span>
</div>
<div *ngIf="gens">
  <div class="row">
    <div class="form-outline">
      <!--<h1>Zoek op gen</h1>-->
      <input type="search" id="search" class="form-control" aria-label="Search"  [ngModel]="searchText" (ngModelChange)="searchKey($event)" placeholder="Find by name"
             ngModel>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <table class="table table-striped" *ngIf="filteredgens">
        <thead>
        <th scope="col" class="col">Gene</th>
        <th scope="col" class="col">Name Code</th>
        <th scope="col" class="col"> </th>
        </thead>
        <tbody>
        <tr *ngFor="let gen of filteredgens">
          <td>{{gen.doc.Gene}}</td>
          <td>{{gen.doc.cDNA}}</td>
          <td><button class="btn btn-primary" (click)="GoToDetail(gen.id)">Go to detail</button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
    </div>
  </div>

</div>

